<table> 
	<tr>
  	  <td><%=board[0]%></td>
	  <td><%=board[1]%></td>
	  <td><%=board[2]%></td>
 	</tr>
	<tr>
  	  <td><%=board[3]%></td>
	  <td><%=board[4]%></td>
	  <td><%=board[5]%></td>
 	</tr>
 	<tr>
  	  <td><%=board[6]%></td>
	  <td><%=board[7]%></td>
	  <td><%=board[8]%></td>
 	</tr>
</table>
<form method = "post" action = "move">
<select name="pick">
	<option value=0>0</option>
	<option value=1>1</option>
	<option value=2>2</option>
	<option value=3>3</option>
	<option value=4>4</option>
	<option value=5>5</option>
	<option value=6>6</option>
	<option value=7>7</option>
	<option value=8>8</option>	
</select>
<input type = "submit">
</form>
