<center><table> 
	<tr>
  	  <td id='position_1'><%=board[0]%></td>
	  <td id='position_2'><%=board[1]%></td>
	  <td id='position_3'><%=board[2]%></td>
 	</tr>
	<tr>
  	  <td id='position_4'><%=board[3]%></td>
	  <td id='position_5'><%=board[4]%></td>
	  <td id='position_6'><%=board[5]%></td>
 	</tr>
 	<tr>
  	  <td id='position_7'><%=board[6]%></td>
	  <td id='position_8'><%=board[7]%></td>
	  <td id='position_9'><%=board[8]%></td>
 	</tr>
</table></center>
<center>
<%= session[:message]%>
pick a space
<form method = "post" action = "move">
<select name="pick">
	<option value=0>0</option>
	<option value=1>1</option>
	<option value=2>2</option>
	<option value=3>3</option>
	<option value=4>4</option>
	<option value=5>5</option>
	<option value=6>6</option>
	<option value=7>7</option>
	<option value=8>8</option>	
</select>
<input type = "submit">
</form>
</center>
